

html,body{height:100%;}

#main{
    margin: 0px;
    padding: 0px;
}

.fill{
    width:100%;
    height:100%;
    min-height:100%;
}

.fill-90{
    width:100%;
    height:90%;
    min-height:90%;
}

.fill-10{
    width:100%;
    height:10%;
    min-height:10%;
}

.header-background{
    background-image:url('../img/header.png');
    background-repeat:repeat-x;
    height:100%;
    min-height:40px;
}
.wander-icon{
    background-image:url('../img/wander-icon-white.png');
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position:center; 
}
#header{
    height:5%;
}
#content {
    height:100%;
}
#logo{
    min-height: 100%;
    
}
#menu>ul{
    font-size:40px;
}
.container {
    height:95%;
}
#map-canvas {  }

#mapPage{
	background: url('../img/background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#findPage{
	background: url('../img/background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#popularPage{
		background: url('../img/background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#nearbyPage{
		background: url('../img/background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#infoPage{
		background: url('../img/background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.result-item{
    
   
}

#hudSpacer{
   
    width:100%;
    height:80%;
    border: 1px solid red;
}
#hud{
    
    width:100%;
    height:20%;
    border: 1px solid red;
}
#pauseButton{
    height: 75px;
    padding: 10px;
}

#infoButton{
    height: 75px;
    padding: 10px;
}

h1{
    color:white;
    font-size: 40px;
}