html, body{
margin: 0
padding: 0
 
    width: 100%;
    height: 100%;

}

.names{
color: blue;
top: 100px;
left: 100px;
text-align: center;
}

.bodyUpload{
background: url('background.png');
background-repeat:no-repeat;
background-size: cover;
}

.app{
background: blue;
color: white;
}
div.upload {
 width: 157px;
 height: 57px;
 background: url('jaguar.jpg');
 display:hidden;
}
